
.icon-apps {
	background-image: url('../img/icons/apps.png');
	background-repeat: no-repeat;
}

.icon-arrow {
	background-image: url('../img/icons/arrow.png');
	background-repeat: no-repeat;
}

.icon-automate {
	background-image: url('../img/icons/automate.png');
	background-repeat: no-repeat;
}

.icon-close {
	background-image: url('../img/icons/close.png');
	background-repeat: no-repeat;
}

.icon-control-monitor {
	background-image: url('../img/icons/control-monitor.png');
	background-repeat: no-repeat;
}

.icon-expand-more {
	background-image: url('../img/icons/expand-more.png');
	background-repeat: no-repeat;
}

.icon-expandable {
	background-image: url('../img/icons/expandable.png');
	background-repeat: no-repeat;
}

.icon-fb {
	background-image: url('../img/icons/fb.png');
	background-repeat: no-repeat;
}

.icon-hosted {
	background-image: url('../img/icons/hosted.png');
	background-repeat: no-repeat;
}

.icon-linkdin {
	background-image: url('../img/icons/linkdin.png');
	background-repeat: no-repeat;
}

.icon-low-cost {
	background-image: url('../img/icons/low-cost.png');
	background-repeat: no-repeat;
}

.icon-mobile-apps {
	background-image: url('../img/icons/mobile-apps.png');
	background-repeat: no-repeat;
}

.icon-no-phone-lines {
	background-image: url('../img/icons/no-phone-lines.png');
	background-repeat: no-repeat;
}

.icon-post-gplus {
	background-image: url('../img/icons/post-gplus.png');
	background-repeat: no-repeat;
}

.icon-search 2 {
	background-image: url('../img/icons/search 2.png');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('../img/icons/search.png');
	background-repeat: no-repeat;
}

.icon-touch-screen {
	background-image: url('../img/icons/touch-screen.png');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('../img/icons/twitter.png');
	background-repeat: no-repeat;
}

.icon-videocam {
	background-image: url('../img/icons/videocam.png');
	background-repeat: no-repeat;
}