/*
  COLORS
  gray: #303030
  darkblue: #000066
  blue: #0033ff
  brightblue: #0099ff
  orange: #ff9600
  white: #ffffff
*/

h1 {
  font-family: "Oswald";
  font-size: 42px;
  color: #ffffff;
  letter-spacing: 3px;
  line-height: 63px;
  text-transform: uppercase;
}

h2 {
  font-family: "Oswald";
  font-size: 26px;
  color: #ffffff;
  letter-spacing: 3px;
  line-height: 39px;
  text-transform: uppercase;
}

h2.darkblue {
  color: #000066;
  text-align: center;
}

h2.brightblue {
  color: #0099ff;
}
  
h3 {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 20px;
  color: #303030;
  letter-spacing: 3px;
  line-height: 34px;
  text-transform: uppercase;
}
  
h4 {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 16px;
  color: #303030;
  letter-spacing: 3px;
  line-height: 26px;
  text-transform: uppercase;
}
  
h5 {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 13px;
  color: #303030;
  letter-spacing: 3px;
  line-height: 22px;
  text-transform: uppercase;
}
  
body, p {
  font-family: "Roboto Slab";
  font-size: 16px;
  color: #707070;
  line-height: 25px;
}

p.small {
  font-family: "Roboto Slab";
  font-size: 13px;
  color: #707070;
  line-height: 21px;
}

.cta-btn {
  padding: 7px 40px 11px 40px;
  font-family: "Oswald";
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 3px;
  line-height: 24px;
  background: #0099FF;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
}
  
.cta-btn:hover{ 
  background: #0082D9;
  text-decoration: none;
  color: #ffffff;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.image-container {
  padding: 50px 0;
  margin: 50px auto;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
}

header {
  padding: 20px 20px 0;
  text-align: center;
  height: 100px;
  border-bottom: 3px solid #f6f6f6;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-align: center;
  list-style: none;
}

nav ul li a {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #303030;
  letter-spacing: 2px;
  padding: 20px;
  display: inline-block;
}

#menu-item-20 {
  text-indent: -9999px;
  background: #fff url(../img/skynet-icon.png) no-repeat center center;
  width: 111px;
  height: 112px;
  border-bottom: 3px solid #f6f6f6;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  position: relative;
  z-index: 2;
}

#menu-item-19 {
  position: relative;
}

ul.sub-menu {
  position: absolute;
  z-index: 50;
  background: #ffffff;
  display: none;
}

ul.sub-menu.active {
  display: block;
}

ul.sub-menu li a {
  padding: 5px 20px;
}

.hero {
  height: 450px;
  background-size: cover;
  margin-bottom: 50px;
  text-align: center;
}

.home .hero {
  height: 650px;
  position: relative;
  z-index: 0;
}

.hero .table {
  display: table;
  height: 650px;
}

.hero h1 {
  margin: 0;
  text-align: center;
  padding-top:200px;
}

.hero .cta-btn {
  margin-top: 20px;
}

.hero .icon-arrow {
  width: 24px;
  height: 15px;
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -12px;
}

#social-buttons {
  position: absolute;
  right: 20px;
  top: 20px;
}

#social-buttons a {
  text-indent: -9999px;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.image-block {
  display: table;
  width: 100%;
  height: 200px;
  background: #000066;
}

.image-block:hover {
  text-decoration: none;
}

.image-block h2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

footer {
  padding: 20px 0;
  background: #d9d9d9;
  text-align: center;
}

footer #social a {
  display: inline-block;
  color: #000066;
  padding: 5px 0;
  width: 55px;
  margin: 10px;
  font-size: 30px;
}

footer #social a:hover{
  color: #0033ff;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
footer ul li a {
  color: #303030;
  text-decoration: underline;
}

.icon-block-wrapper {
  background: #ececec;
  padding: 80px 0;
  margin: 50px auto;
  text-align: center;
}

.icon-block .services-icon {
  width: 80px;
  height: 80px;
  border: 3px solid #0099ff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  display: inline-block;
  background-position: 50%;
}

.services-bottom {
  text-align: center;
}

.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.modal-header {
  border: 0;
}

body.page-template-support article, body.page-template-contact article {
  margin-top: 80px;
}

.file-container {
  margin-top: 50px;
}

.file-block {
  display: table;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.file-block:hover{
  text-decoration: none;
  opacity: .8;
}

.file-block h2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#contact-form {
  margin-top: 30px;
}

#contact-form h3 {
  text-align: center;
  margin-bottom: 30px;
}

#contact-form textarea {
  height: 150px;
}

#posts-list article {
  margin-bottom: 20px;
}

#posts-list img {
  width: 100%;
}

#posts-list h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
#posts-list h3 a {
  color: #000066;
}

#posts-list h5 {
  margin: 0;
}

#posts-list .view-article {
  color: #000066;
}

.pagination {
  text-align: center;
  display:block;
}
.pager .next>a, .pager .next>span, .pager .previous>a, .pager .previous>span {
  float: none;
}
.pager li>a, .pager li>span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}