/*
  COLORS
  gray: #303030
  darkblue: #000066
  blue: #0033ff
  brightblue: #0099ff
  orange: #ff9600
  white: #ffffff
*/

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

h2.darkblue {
  color: #000066;
}

h2.brightblue {
  color: #0099ff;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #0033ff;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

body {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  color: #303030;
}

header {
  padding: 20px 20px 0;
  text-align: center;
  height: 100px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  text-align: center;
  list-style: none;
}

nav ul li a {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #303030;
  letter-spacing: 2px;
  padding: 20px;
  display: inline-block;
}

#menu-item-20 {
  text-indent: -9999px;
  background: #fff url(../img/skynet-icon.png) no-repeat center center;
  width: 111px;
  height: 112px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

.hero {
  height: 450px;
  background-size: cover;
}

.home .hero {
  height: 650px;
}

.hero .table {
  display: table;
  height: 650px;
}

.hero h1 {
  margin: 0;
  text-align: center;
  padding: 200px;
}

.image-block {
  display: table;
  width: 100%;
  height: 200px;
  background: #000066;
}

.image-block:hover {
  text-decoration: none;
}

.image-block h2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

footer {
  padding: 20px 0;
  background: #d9d9d9;
  text-align: center;
}

footer #social a {
  display: inline-block;
  color: #000066;
  padding: 5px 0;
  width: 55px;
  margin: 10px;
  font-size: 30px;
}

footer #social a:hover{
  color: #0033ff;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
footer ul li a {
  color: #303030;
  text-decoration: underline;
}
